html {
    background-color: #efefef;
}

body {
    font-size: 14px;
    background: url(/bundles/aqpglugcodemedo/images/header.png) repeat-x;
    background-position: 0 -30px;
    font-family: sans-serif;
}

/* HTML */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.2em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }

a {
    color: #888;
    text-decoration: none;
}

a:focus {
    outline: none;
    -moz-outline-style: none;
}
a:active
{
    outline: none;
}
a:hover {
    text-decoration: underline;
}

/* BASE */

.paginator li
{
    display: inline;
}

#flash_error, #flash_notice {
    margin: 0;
    width: 100%;
    border-top: 1px solid #666;
    padding: 10px 20px 10px 38px;
    background-position: 10px;
}

#flash_error {
    background-color: #B81900;
    border: 1px solid #CD0A0A;
    color: #fff;
}

#flash_notice {
    background-color: #FFE45C;
    border: 1px solid #FED22F;
    color: #363636;
}

/* ICONS */

.icon, .icontext {
    background-repeat: no-repeat;
    background-position: center left;
}
.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}
.icontext {
    padding-left: 20px;
    width: auto;
}
.icon.tick       { background-image: url('/bundles/aqpglugcodemedo/images/icons/tick_16.png'); }
.icon.block      { background-image: url('/bundles/aqpglugcodemedo/images/icons/block_16.png'); }
.icon.trash      { background-image: url('/bundles/aqpglugcodemedo/images/icons/trash_16.png'); }
.icon.plus       { background-image: url('/bundles/aqpglugcodemedo/images/icons/plus_16.png'); }
.icon.info       { background-image: url('/bundles/aqpglugcodemedo/images/icons/info_16.png'); }
.icon.warning    { background-image: url('/bundles/aqpglugcodemedo/images/icons/warning_16.png'); }


/* MENU */

.submenu {
    background: #292929;
    margin: 0;
    width: 100%;
    border-top: 1px solid #666;
    padding: 5px 10px;
}

.submenu li {
    border-left: #efbe15 1px dotted;
}

.submenu li:first-child {
    border-left: none;
}

.submenu a {
    color: #fff;
}

.submenu span {
    color: #fff;
    font-size: 1.5em;
}

.menu li, .submenu li {
    display: inline;
    padding: 0 15px;
}

.submenu .right {
    float: right;
    margin-top: 0;
}